.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #ec4899;
}

.skeleton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 80%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}